    <div class="more target-function">
    {% if element.description %}
        <div class="long-description">{{ element.description|markdown|raw }}</div>
    {% endif %}
        <ul class="labels">
            <li>public</li>
        </ul>
        {% set signature = '' %}
        {% if element.abstract %}{% set signature = signature~' abstract' %}{% endif %}
        {% if element.final %}{% set signature = signature~' final' %}{% endif %}
        {% if element.static %}{% set signature = signature~' static' %}{% endif %}
        {% set signature = signature~' '~element.name~'(' %}
        {% for argument in element.arguments %}
            {% if argument.default %}{% set signature = signature~'[' %}{% endif %}
            {% if not loop.first %}{% set signature = signature~', ' %}{% endif %}
            {% set signature = signature~argument.type|route('class:short')|join('|')~' ' %}
            {% if argument.isVariadic %}{% set signature = signature~'...' %}{% endif %}
            {% if argument.byReference %}{% set signature = signature~'&' %}{% endif %}
            {% set signature = signature~'$'~argument.name %}
            {% if argument.default %}
                {% set signature = signature~' = ' %}
                {% set signature = signature~argument.default %}
                {% set signature = signature~']' %}
            {% endif %}
        {% endfor %}
        {% set signature = signature~') : ' %}
        {% set signature = signature~element.response.type|route('class:short')|join('|') %}
        <pre><code>{{ signature|trim(side='left')|raw }}</code></pre>
        <div class="table-wrapper">
            <table class="metadata">
            {% for tagList in element.tags if tagList.0.name and tagList.0.name not in ['param', 'return', 'api', 'throws', 'throw', 'package'] %}
                <tr>
                    <th><div class="th">{{ tagList.0.name }}</div></th>
                    <td>
                    {% for tag in tagList %}
                        {% if (tag.name == "since" or "deprecated" and tag.version) %}
                            <p>{{ tag.version }}</p>
                        {% elseif (tag.name == "see" and tag.reference) %}
                            <p>{{ tag.reference|route|raw }}</p>
                        {% endif %}
                        {% if tag.description %}
                            {{ tag.description|markdown|raw }}
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <th><div class="th">source</div></th>
                    <td><p><a href="{{link(element.file)}}#L-{{element.line}}">{{element.file.path}}</a></p></td>
                </tr>
            </table>
        </div>
    </div>
    {% if element.arguments|length > 0 %}
    <section>
        <h5>Parameters</h5>
        <dl>
        {% for argument in element.arguments -%}
            <dt><code>{{ argument.name }} : {{ argument.type|route('class:short')|join('|')|raw }}{% if argument.default %} = {{ argument.default }}{% endif %}</code></dt>
            <dd>{% if argument.description %}{{ argument.description|description|markdown }}{% else %}<p>No description.</p>{% endif %}</dd>
        {% endfor -%}
        </dl>
    </section>
    {% endif %}
    {% if (element.response.type and element.response.type != 'void') or element.response.description %}
    <section>
        <h5>Return values</h5>
        <dl>
            <dt><code>{{ element.response.type|route('class:short')|join('|')|raw }}</code></dt>
            <dd>{% if element.response.description|description %}{{ element.response.description|description|markdown }}{% else %}<p>No description.</p>{% endif %}</dd>
        </dl>
    </section>
    {% endif %}
    {% if element.tags.throws|length > 0 or element.tags.throw|length > 0 %}
    <section>
        <h5>Throws</h5>
        <dl>
        {% for exception in element.tags.throws %}
            <dt><code>{{ exception.types|route|join('|')|raw }}</code></dt>
            <dd>{% if exception.description %}{{ exception.description|markdown|raw }}{% else %}<p>No description.</p>{% endif %}</dd>
        {% endfor %}
        {% for exception in element.tags.throw %}
            <dt><code>{{ exception.types|route|join('|')|raw }}</code></dt>
            <dd>{% if exception.description %}{{ exception.description|markdown|raw }}{% else %}<p>No description.</p>{% endif %}</dd>
        {% endfor %}
        </dl>
    </section>
    {% endif -%}
