{% extends 'layout.html.twig' %}

{% block title %}{{ node.path }} | {{ project.name }}{% endblock %}

{% block content %}
    <main class="namespaces">
        <h2>{{node.name}}</h2>
        <p class="short-description">{% if node.summary %}{{ node.summary }}{% else %}No description.{% endif %}</p>
        {% if node.description is not empty %}
        <div class="long-description">
            {{ node.description|markdown|raw }}
        </div>
        {% endif %}
        <div class="table-wrapper">
            <table class="metadata">
                <tr>
                    <th><div class="th">package</div></th>
                    <td><p><a href="{{link(node.package)}}">{{ node.package.fullyQualifiedStructuralElementName }}</a></p></td>
                </tr>
            {% for tagName,tags in node.tags if tagName in ['link', 'see'] %}
                {% if loop.first %}
        <tr>
            <th><div class="th">{{ tagName }}</div></th>
            <td>
                <ul>
                {% endif %}
                {% for tag in tags %}
                    <li><a href="{{ tag.link }}">{% if tag.description is not empty %} {{ tag.description }} {% else %} {{ tag.link }} {%  endif %}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
            {% endfor %}
            {% for tagName,tagList in node.tags if tagName not in ['inheritDoc', 'link', 'see', 'uses', 'abstract', 'example', 'method', 'deprecated', 'property', 'property-read', 'property-write', 'package', 'subpackage'] %}
        <tr>
            <th><div class="th">{{ tagName }}</div></th>
            <td>
                <ul>
                    {% for tag in tagList %}
                        {% set description = ''%}
                        {% if tag.version is not empty %}
                            {% set description = 'v'~tag.version %}
                        {% endif %}
                        {% if tag.description is not empty %}
                            {% set description = description~' '~tag.description %}
                        {% endif %}
                        <li>{{ description|trim(side='left')|markdown|raw ?: 'No Info' }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
            {% endfor %}
            </table>
        </div>
        <div class="source">
            <pre>{{highlight(node.source)|raw}}</pre>
        </div>
    </main>
{% endblock %}