    {% if element.description is not empty %}
<div class="long-description">{{ element.description|markdown|raw }}</div>
    {% endif %}
<ul class="labels">
        {% if element.visibility %}
    <li>{{ element.visibility }}</li>
        {% else %}
    <li>public</li>
        {% endif %}
        {% if element.static %}
    <li>static</li>
        {% endif %}
</ul>
<pre><code>{{ not element.type ? "mixed" : element.type|route('')|join('|')|raw }} ${{ element.name }} {% if element.default is not null %} = {{ node.default is not null ? node.default : '""' }}{% endif %}</code></pre>
<div class="table-wrapper">
    <table class="metadata">
            {% if (element.parent is not null and element.parent.fullyQualifiedStructuralElementName != node.fullyQualifiedStructuralElementName) %}
        <tr>
            <th><div class="th">inherited</div></th>
            <td><p><a href="{{ element.parent|route('url') }}">{{ element.parent.fullyQualifiedStructuralElementName }}</a></p></td>
        </tr>
            {% endif %}
            {% if element.deprecated is not empty %}
        <tr>
            <th><div class="th">deprecated</th></th>
            <td><p>{% if element.tags.deprecated[0].description is not empty %}{{ element.tags.deprecated[0].description }}{% else %}No info{% endif %}</p></td>
        </tr>
            {% endif %}
            {% for tagName,tags in element.tags if tagName in ['uses'] %}
                {% if loop.first %}
        <tr>
            <th><div class="th">uses</div></th>
            <td>
                <ul>
                {% endif %}
                {% for tag in tags %}
                    <li><a href="{{ tag.reference|route('url') }}">{{ tag.description ?: tag.reference }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
            {% endfor %}
            {% for tagName,tags in element.tags if tagName in ['link', 'see'] %}
                {% if loop.first %}
        <tr>
            <th><div class="th">{{ tagName }}</div></th>
            <td>
                <ul>
                {% endif %}
                {% for tag in tags %}
                    <li><a href="{{ tag.link }}">{% if tag.description is not empty %} {{ tag.description }} {% else %} {{ tag.link }} {%  endif %}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
            {% endfor %}
            {% for tagName, tagList in element.tags if tagName not in ['inheritDoc', 'package', 'subpackage', 'link', 'see', 'access', 'var', 'deprecated', 'uses'] %}
        <tr>
            <th><div class="th">{{ tagName }}</div></th>
            <td>
                <ul>
                    {% for tag in tagList %}
                        {% set description = ''%}
                        {% if tag.version is not empty %}
                            {% set description = 'v'~tag.version %}
                        {% endif %}
                        {% if tag.description is not empty %}
                            {% set description = description~' '~tag.description %}
                        {% endif %}
                        <li>{{ description|trim(side='left')|markdown|raw ?: 'No Info' }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
            {% endfor %}
        <tr>
            <th><div class="th">source</div></th>
            <td><p><a href="{{link(element.file)}}#L-{{element.line}}">{{element.file.path}}</a></p></td>
        </tr>
    </table>
</div>
